doctype html 

html(lang='en')  
  head
    meta(charset='en')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body(style="visibility:hidden")
    main
      section#intro
        //- div.jump-down#tt
        //-     include ./down-arrow.svg
        div.container-header
          h1 rachael dottle
          p visual journalist, designer & developer at IBM Data & AI, previously FiveThirtyEight, MTA & WXY architecture + urban design
          p Sigma Awards Young Data Journalist of the Year 2019
          div.social
            a(href="https://www.instagram.com/rachaelcdottle/" target="_blank")
              include ./instagram.svg
            a(href="https://twitter.com/rachaeldottle" target="_blank")
              include ./twitter.svg
            a(href="https://github.com/rdottle" target="_blank")
              include ./github.svg
            a(href="https://www.linkedin.com/in/rachael-dottle-5b019a10b/" target="_blank")
              include ./linkedin.svg
            a(href="images/rachaeldottle_resume.pdf" target="_blank")
              include ./resume.svg
        div.projects-container#all-projects
        div.tooltip.none
          span.title 
        div.project-name
      //- section#posts


