
  title {

  }

  body {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Josefin Sans'; sans-serif;

  }


  
  .col-1 {
    background: #000;
    flex: 1;
    font-family: 'Josefin Sans', sans-serif;

  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
    font-family: 'Josefin Sans', sans-serif;

  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  .name {
    text-align:center;
    font-family: 'Josefin Sans';
    font-size: 8em;
    top: -18%;
    position: absolute;
    padding:none;
    text-shadow:
       -1px -1px 0 #fff,
       1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
    margin:none;


  }

  article{
    padding: none;
    width: 100%;
    height: 100%;
  }

  header {
    background: #fff;
    width: 100vw;
    margin: none;
    padding: none;

  }

  header, article, nav {
    padding: none;
    font-family: 'Josefin Sans', sans-serif;

  }

  #circles {
    padding: none;
    width:100vw;
    height:900px;
  }

  circle:hover {
    color: #ebbdbb;
  }

  #wrapper, img{
    width:100%;
    height: 40%;
    background: #fff;



}

  .post {
    border: 1px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 2em;
    display: flex;
    

  }

  p.article-text {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 2em;
    width:100vw;
    height:60%;
    padding: none;
    margin: none;

  }

  p:hover {
    color: #1d2588;
  }

  /* unvisited link */
a:link {
    color: #ff4000;
}

/* visited link */
a:visited {
    color: #ff4000;
}

/* mouse over link */
a:hover {
    color: #ebbdbb;
}

/* selected link */
a:active {
    color: ##f24a6b ;
}

  h2.menu-1 {
    font-size: 1em;
    padding-left: 10%;
    font-color: #fff;
  }


  .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}