  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    /*font-family: Helvetica; */

  }

  circle {
  fill: #eee;
  stroke: #000;
  stroke-width: 1.5px;
}
  .col-1 {
    background: #000;
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  .name {
    text-align:center;
    top: -18%;
    font-family: Decima;
    font-size: 5em;
    position: relative;
    text-shadow:
       -1px -1px 0 #fff,
       1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;  
  }

  header {
    background: #daafd6;
    height: 40vh;
  }
  header, article, nav {
    padding: none;
  }


  .post {
    border: 1px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 2em;
    

  }

  p.article-text {
    text-align: center;
    font-family: Decima;
    font-size: 2em;
  }

  p:hover {
    color: #B8D8BA;
  }

  /* unvisited link */
a:link {
    color: #daafd6;
}

/* visited link */
a:visited {
    color: #B8D8BA;
}

/* mouse over link */
a:hover {
    color: #FCDDBC;
}

/* selected link */
a:active {
    color: #797B84;
}

  h2.menu-1 {
    font-size: 1em;
    padding-left: 10%;
    font-color: #fffff;
  }